{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} {{ book.title }} {{ book.author }}{% endblock %}</h1>
    </span>
    <div class="content">
            <div class="book">
                <p><b>#{{ book.id }}</b></p>
                <b>
                    <p class="name">{{ book.title }} {{ book.author }}</p>
                </b>
                <p>{{ book.genre }}</p>
                <p>Published in: {{ book.year_published }}</p>
                <p>Added: {{ book.created_at }}</p>
                <div class="bio">
                    <h4>book cover</h4>
                    <p><img src="#"></p>
                </div>
            </div>
    </div>
{% endblock %}